<section id="add">
	<form action="/" method="post">
		<input type="text" name="content" placeholder="Your kaizen&hellip;">
		<input type="submit" value="OK">
	</form>
</section>

<% @kaizens.each do |kaizen| %>
	<article <%= 'class="complete"' if kaizen.complete %>>
		<h2><%= kaizen.votes.count %></h2>
		<div>
			<p>
				<%= kaizen.content %>
			</p>
			<p class="meta">
				Created: <%= kaizen.created_at %>
				<span>[<a href="/<%= kaizen.id %>">edit</a>|<a href="/<%= kaizen.id %>/delete">delete</a>]</span>
			</p>
		</div>
		<div class="actions">
			<a href="/<%= kaizen.id %>/vote">&hearts;</a>
		</div>
	</article>
<% end %>