<section id="add">
	<form action="/" method="post">
		<textarea name="content" placeholder="Your kaizen&hellip;"></textarea>
		<input type="submit" value="Submit">
	</form>
</section>

<% @kaizens.each do |kaizen| %>
	<article <%= 'class="complete"' if kaizen.complete %>>
		<p>
			<%= kaizen.content %>
			<span><a href="/<%= kaizen.id %>">[edit]</a></span>
		</p>
		<p class="links">
			<a href="/<%= kaizen.id %>/complete">&#8623;</a>
		</p>
		<p class="meta">Created: <%= kaizen.created_at %></p>
	</article>
<% end %>